*{
     margin:0px auto;
}

body {
   background-image:url('http://s3.amazonaws.com/everystockphoto/fspid21/12/42/80/5/dinosaur-scale-dragon-1242805-o.jpg');
   text-align:center;
}

h1 {
   color: white;
   font-size: 48px;
   text-align:center;
}

td {
   border: solid black 5px;
   border-radius: 5px;
}

td img {
   height: 400px;
   width: 400px;
   border-radius: 50%;
}

td h2 {
   color:white;
   text-decoration:underline;
   border: 2px solid #008000;
   background-color: #008000;
   border-radius: 5px;
 }

/* table {
   border: solid black 2px;
   border-radius: 5px;
 }